

* {
  box-sizing: border-box;  
  padding: 0;
}

.navbar-default{
  clear: both;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  color: #1825EE;
  font-size: 1.5em; 
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;

}
#nav-list a {
  color: #1825EE;
    background: yellow;
      border: 1px solid black;
  text-align: center;
}
#nav-list a:hover {
  background: #33eeaa;
}
#nav-list a span {
  font-size: 1.8em;
}

  .row {
  width:100%;
  margin-left: 3px;
}

#chicken,#beef , #sushi  {
   width: 95%;
    align-self: : center;
  background-color: #aaeeff;
  align-content: center;
}
